@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif&display=swap');

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'IBM Plex Serif', serif;
    
}

@media screen and (min-width: 600px) {
    input {
        visibility: hidden;
        font-family: 'IBM Plex Serif', serif;
    }
}

#inputField {
    margin-top: 5%;
}